#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cd .. && mkdir -p build && cd build && cmake .. -DCMAKE_BUILD_TYPE=Release -DBUILD_GUI=ON && make -j$(nproc)

override_dh_auto_install:
	cd ../build && make install DESTDIR=../debian/uperf-linux-gui
